*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

main{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 25px;
}

h1{
    padding: 35px;
    font-size: 3.25rem;
}
button{
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-size: 3rem;
}
p{
    font-size: 1.25rem;
    font-weight: bold;
}
.resultsContainer{
    display: flex;
    justify-content: center;
}

.score{
    padding: 30px;
}
#rock{
    background-color: rgb(255, 72, 72);
}
#paper{
    background-color: rgb(69, 69, 255);
}
#scissors{
    background-color: rgb(81, 255, 81);
}

#rock:hover{
    background-color: rgb(255, 149, 149);
}
#paper:hover{
    background-color: rgb(143, 143, 255);
}
#scissors:hover{
    background-color: rgb(163, 255, 163);
}
#rock:active{
    background-color: rgb(255, 72, 72);
}
#paper:active{
    background-color: rgb(69, 69, 255);
}
#scissors:active{
    background-color: rgb(81, 255, 81);
}